<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.wordservant"
    android:versionCode="1"
    android:versionName="0.5.2" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/word_servant_icon_new"
        android:label="@string/title_activity_main"
        android:theme="@style/WordServantTheme" >
        <activity
            android:name=".ui.LandingScreen"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Settings"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="com.app.wordservant.ui.InputScriptureManual"
            android:label="@string/title_activity_input_scripture_manual"
            android:parentActivityName="android.support.v4.app.FragmentActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ScriptureBankActivity" />
        </activity>
        <activity
            android:name="com.app.wordservant.ui.EditScripture"
            android:label="@string/title_activity_edit_scripture" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ScriptureBankActivity" />
        </activity>
        <activity
            android:name="com.app.wordservant.ui.TodaysMemoryVerses"
            android:label="@string/title_activity_todays_memory_verses" >
        </activity>
        <activity
            android:name="com.app.wordservant.ui.SelectScripture"
            android:label="@string/title_activity_select_scripture" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.wordservant.LandingScreen" />
        </activity>
        <activity
            android:name="com.app.wordservant.ui.DisplaySelectedScripture"
            android:label="@string/title_activity_display_selected_scripture"
            android:uiOptions="splitActionBarWhenNarrow" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ScriptureBankActivity" />
        </activity>
        <activity
            android:name="com.app.wordservant.ui.QuizReviewActivity"
            android:label="@string/title_activity_quiz_review"
            android:uiOptions="splitActionBarWhenNarrow" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.LandingScreen" />
        </activity>
        <activity
            android:name="com.app.wordservant.ui.ScriptureReview"
            android:label="@string/title_activity_scripture_review"
            android:uiOptions="splitActionBarWhenNarrow" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.LandingScreen" />
        </activity>
        <activity
            android:name="com.app.wordservant.ui.StatisticsActivity"
            android:label="@string/title_activity_statistics"
            android:parentActivityName=".ui.QuizReviewActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.QuizReviewActivity" />
        </activity>
        <activity
            android:name="com.app.wordservant.ui.ScriptureBankActivity"
            android:label="@string/title_activity_scripture_bank"
            android:parentActivityName="android.support.v4.app.FragmentActivity"
            android:uiOptions="splitActionBarWhenNarrow" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.LandingScreen" />
        </activity>
        <activity
            android:name="com.app.wordservant.ui.SelectScriptureFragmentActivity"
            android:uiOptions="splitActionBarWhenNarrow" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.LandingScreen" />
        </activity>

        <service
            android:name="com.app.wordservant.notifications.NotificationService"
            android:exported="false" >
        </service>

        <provider
            android:name="com.app.wordservant.provider.WordServantProvider"
            android:authorities="com.app.provider.wordservant"
            android:exported="false" >
        </provider>

        <receiver android:name="com.app.wordservant.notifications.BootBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.DueTodayNoScriptures"
            android:label="@string/title_activity_due_today_no_scriptures"
            android:parentActivityName="com.app.wordservant.ui.LandingScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.wordservant.ui.LandingScreen" />
        </activity>
    </application>

</manifest>