<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.wordservant"
    android:versionCode="1"
    android:versionName="0.5.1.3" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/word_servant_icon_new"
        android:label="@string/title_activity_main" android:theme="@style/WordServant">
        <activity
            android:name=".ui.LandingScreen"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Settings"
            android:label="@string/title_activity_settings"
            android:theme="@style/MenuTheme" >
        </activity>
        <activity
            android:name=".ui.ScriptureBank"
            android:label="@string/title_activity_scripture_bank" >
        </activity>
        <activity
            android:name=".ui.InputScriptureManual"
            android:label="@string/title_activity_input_scripture_manual"
            android:parentActivityName="android.support.v4.app.FragmentActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.support.v4.app.FragmentActivity" />
        </activity>
        <activity
            android:name=".ui.EditScripture"
            android:label="@string/title_activity_edit_scripture" >
        </activity>
        <activity
            android:name=".ui.TodaysMemoryVerses"
            android:label="@string/title_activity_todays_memory_verses" >
        </activity>
        <activity
            android:name=".ui.SelectScripture"
            android:label="@string/title_activity_select_scripture" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.wordservant.LandingScreen" />
        </activity>

        <service
            android:name=".notifications.NotificationService"
            android:exported="false" >
        </service>

        <receiver android:name=".notifications.BootBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.DisplaySelectedScripture"
            android:label="@string/title_activity_display_selected_scripture" >
        </activity>
        <activity
            android:name=".ui.QuizReviewActivity"
            android:label="@string/title_activity_quiz_review"
            android:parentActivityName="android.support.v4.app.FragmentActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.support.v4.app.FragmentActivity" />
        </activity>
        <activity
            android:name=".ui.ScriptureReview"
            android:parentActivityName="android.support.v4.app.FragmentActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.support.v4.app.FragmentActivity" />
        </activity>

        <provider
            android:name=".provider.WordServantProvider"
            android:authorities="com.app.provider.wordservant"
            android:exported="false" >
        </provider>

        <activity
            android:name=".ui.StatisticsActivity"
            android:label="@string/title_activity_statistics"
            android:parentActivityName="android.support.v4.app.FragmentActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.support.v4.app.FragmentActivity" />
        </activity>
    </application>

</manifest>